body{
    background-image:url("https://www.teahub.io/photos/full/93-938757_75-web-website-background-color.jpg");
    color: white;
}
ul{
    background-color: black;
    opacity: 0.5;
}
p,h1{
    background: linear-gradient(to right, rgb(123, 165, 206),rgb(0, 126, 253));
}
p{
    margin: 35px 0;
}

